# DataFrame
## pandas 패키지 가져오기

In [1]:
# Pandas 패키지 가져오기
import pandas as pd

## Series

In [2]:
# list로 series 생성
list = ['2023-12-30', 3.14, 'Celine', True]
series = pd.Series(list)
series

0    2023-12-30
1          3.14
2        Celine
3          True
dtype: object

In [3]:
# tuple로 Series 생성
tup = ('Celine', '1976-10-28', 'female', True)
series = pd.Series(tup, index=['name','birthday','gender', "isStudent"])
series

name             Celine
birthday     1976-10-28
gender           female
isStudent          True
dtype: object

In [4]:
# dictionary로 serise 생성
dict = {'name': 'Celine', 'birthday': '1976-10-28', 'gender': 'female', 'isStudent': True}
series = pd.Series(dict)
series

name             Celine
birthday     1976-10-28
gender           female
isStudent          True
dtype: object

In [5]:
#series[0]
#series[[0, 1]]
#series[0:4]
#series['gender']
series[['name', 'gender']]

name      Celine
gender    female
dtype: object

In [6]:
# 인덱스와 데이터에 액세스

series = pd.Series(['Celine','1978-10-26','female',True])
series.index = ['name','birthday','gender','isStudent']
series.values

array(['Celine', '1978-10-26', 'female', True], dtype=object)

## DataFrame 생성 (list)

* list 사용
    * column 이름이 정수형으로 지정됨

In [7]:
# list로 DataFrame 생성
df = pd.DataFrame([ 
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]
])
df

        0        1   2    3    4
0  Celine   France  90  100  100
1   James       UK  80   40   30
2   Jason      USA  80   40   60
3    Hans  Germany  60   50   90

* list 사용
    * column 이름 지정

In [8]:
df = pd.DataFrame([ 
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]],
    columns = ['name', 'nation', 'english', 'math', 'science']
)
df

     name   nation  english  math  science
0  Celine   France       90   100      100
1   James       UK       80    40       30
2   Jason      USA       80    40       60
3    Hans  Germany       60    50       90

* list 사용
    * 이름을 index로 지정

In [9]:
df = pd.DataFrame([ 
    ['France', 90, 100, 100],
    ['UK', 80, 40, 30],
    ['USA',80, 40, 60],
    ['Germany', 60, 50, 90]],
    columns = ['nation', 'english', 'math', 'science'],
    index = ['celine', 'James','Jason','Hans']
)
df

         nation  english  math  science
celine   France       90   100      100
James        UK       80    40       30
Jason       USA       80    40       60
Hans    Germany       60    50       90

## DataFrame 생성 (Dictionary)

* dictionary 사용
    * column 이름 지정

In [10]:
# dictionary로 DataFrame 생성
df = pd.DataFrame({
    'name':     ['Celine','James','Jason','Hans'],
    'nation':   ['France','UK','USA','Germany'],
    'english':  [90,80,80,60],
    'math':     [100,40,40,50],
    'science':  [100,30,60,90]
})
df

     name   nation  english  math  science
0  Celine   France       90   100      100
1   James       UK       80    40       30
2   Jason      USA       80    40       60
3    Hans  Germany       60    50       90

* dictionary 사용
    * 이름을 key로 지정

In [11]:
# Dictionary - 이름을 key로 DataFrame 생성
# dictionary로 DataFrame 생성
df = pd.DataFrame({
    'nation':   ['France','UK','USA','Germany'],
    'english':  [90,80,80,60],
    'math':     [100,40,40,50],
    'science':  [100,30,60,90],
})
df.index = ['Celine','James','Jason','Hans']
df

         nation  english  math  science
Celine   France       90   100      100
James        UK       80    40       30
Jason       USA       80    40       60
Hans    Germany       60    50       90

## 연습문제

In [12]:
df_pop202309 = pd.DataFrame([
    ['서울특별시',	    '9,407,540',	4475726, 2.10, 4552501, 4855039],
    ['부산광역시',	    '3,300,836',	1565115, 2.11, 1609650, 1691186],
    ['대구광역시',      '2,377,801',	1092536, 2.18, 1168679, 1209122],
    ['인천광역시',      '2,987,918',	1344029, 2.22, 1494725, 1493193],
    ['광주광역시',      '1,422,999',	656061, 2.17, 702748, 720251],
    ['대전광역시',      '1,444,595',	680653, 2.12, 720520, 724075],
    ['울산광역시',      '1,104,167',	489298, 2.26, 567314, 536853],
    ['세종특별자치시',  '385,932',     160479, 2.40, 192246, 193686],
    ['경기도',         '13,626,339',   5969573, 2.28, 6855626, 6770713],
    ['강원특별자치도',  '1,530,712',	760903, 2.01, 770130, 760582],
    ['충청북도',       '1,594,326',    779770, 2.04, 810835, 783491],
    ['충청남도',       '2,127,630',    1032336, 2.06, 1089884, 1037746],
    ['전라북도',       '1,758,661',     861647, 2.04, 875353, 883308],
    ['전라남도',       '1,807,295',     912090, 1.98, 910810, 896485],
    ['경상북도',       '2,559,924',     1282575, 2.00, 1292868, 1267056],
    ['경상남도',       '3,257,009',     1524861, 2.14, 1639932, 1617077],
    ['제주특별자치도',	'676,317',    313265, 2.16, 338514, 337803]],
    columns=['행정구역','총인구수','세대수','세대당인구','남자인구수','여자인구수']
)
df_pop202309

       행정구역        총인구수      세대수  세대당인구    남자인구수    여자인구수
0     서울특별시   9,407,540  4475726   2.10  4552501  4855039
1     부산광역시   3,300,836  1565115   2.11  1609650  1691186
2     대구광역시   2,377,801  1092536   2.18  1168679  1209122
3     인천광역시   2,987,918  1344029   2.22  1494725  1493193
4     광주광역시   1,422,999   656061   2.17   702748   720251
5     대전광역시   1,444,595   680653   2.12   720520   724075
6     울산광역시   1,104,167   489298   2.26   567314   536853
7   세종특별자치시     385,932   160479   2.40   192246   193686
8       경기도  13,626,339  5969573   2.28  6855626  6770713
9   강원특별자치도   1,530,712   760903   2.01   770130   760582
10     충청북도   1,594,326   779770   2.04   810835   783491
11     충청남도   2,127,630  1032336   2.06  1089884  1037746
12     전라북도   1,758,661   861647   2.04   875353   883308
13     전라남도   1,807,295   912090   1.98   910810   896485
14     경상북도   2,559,924  1282575   2.00  1292868  1267056
15     경상남도   3,257,009  1524861   2.14  1639932  1617077
16  제주특별자치도     676,317   313265   2.16   338514   337803

## column에 액세스

In [13]:
# Column에 액세스
#df[0]
#df2['name']
#df3['nation']
#df2.name
#df3.nation
df[['nation','english']]

         nation  english
Celine   France       90
James        UK       80
Jason       USA       80
Hans    Germany       60

## row에 액세스

In [14]:
# row에 index로 액세스
df.iloc[0]      # list
#df2.iloc[1]     # dictionary
#df3.iloc[2]     # dictionary - index

nation     France
english        90
math          100
science       100
Name: Celine, dtype: object

In [15]:
# row에 key로 액세스
#df.loc[0]           
df.loc['Celine']    
#df.loc['Celine']

nation     France
english        90
math          100
science       100
Name: Celine, dtype: object

## cell에 액세스

In [16]:
# [row, column] 형식의 2차원 좌표로 사용
df.loc['Celine', 'nation']
# [row_number, column_number] 형식의 2차원 좌표로 사용
df.iloc[0,0]
# 정수형 low index와 column 번호를 [row_number, column_number] 형식의 2차원 좌표로 사용
df.loc['Celine', ['nation', 'english']]
df.iloc[0,[0, 1]]

nation     France
english        90
Name: Celine, dtype: object

## 구조 변환 (column)

In [17]:
# DataFrame 복사본 생성
df_pop = df_pop202309.copy()

In [18]:
# column명 변경
# dictionary를 사용하여 컬럼명 변경
df_pop = df_pop.rename(columns= {'행정구역':'district'})
# dictionary를 사용하여 두 컬럼명 변경, 새 DataFrame을 반환하지 않고 DataFrame 내에서 변경
df_pop.rename(columns={'총인구수':'population','세대수':'household'}, inplace=True)
# list를 사용하여 모든 컬럼명 변경
df_pop.columns = ['district','population','household','pop_household','male','female']
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   district       17 non-null     object
 1   population     17 non-null     object
 2   household      17 non-null     int64
 3   pop_household  17 non-null     float64
 4   male           17 non-null     int64
 5   female         17 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 948.0+ bytes

## 구조 변환 (index)

In [19]:
df_pop.index = df_pop['district']
df_pop.drop(columns=['district'], inplace=True)
df_pop.loc['경기도']

population       13,626,339
household           5969573
pop_household          2.28
male                6855626
female              6770713
Name: 경기도, dtype: object

## 타입 변환

In [20]:
# 컬럼 타입 확인
df_pop.dtypes

population        object
household          int64
pop_household    float64
male               int64
female             int64
dtype: object

In [21]:
# 컬럼 타입 변환
# 컬럼의 통화형 값(예: 51,370,001)를 정수형 변환 가능한 문자열(51370001)로 변경후 정수로 변환
df_pop['population'] = df_pop.population.str.replace(',','').astype('int')
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 서울특별시 to 제주특별자치도
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   population     17 non-null     int32
 1   household      17 non-null     int64
 2   pop_household  17 non-null     float64
 3   male           17 non-null     int64
 4   female         17 non-null     int64
dtypes: float64(1), int32(1), int64(3)
memory usage: 1.3+ KB

## 컬럼 추가

In [22]:
# 계산된 컬럼 추가
df_pop['gender_ratio'] = round(df_pop['male'] / df_pop['female'], 2)
df_pop['male_ratio'] = round(df_pop.male / df_pop.population, 4) * 100
df_pop['female_ratio'] = round(df_pop.female / df_pop.population, 4) * 100
df_pop

,population,household,pop_household,male,female,gender_ratio,male_ratio,female_ratio
district,,,,,,,,
서울특별시,9407540,4475726,2.10,4552501,4855039,0.94,48.39,51.61
부산광역시,3300836,1565115,2.11,1609650,1691186,0.95,48.76,51.24
대구광역시,2377801,1092536,2.18,1168679,1209122,0.97,49.15,50.85
인천광역시,2987918,1344029,2.22,1494725,1493193,1.00,50.03,49.97
광주광역시,1422999,656061,2.17,702748,720251,0.98,49.38,50.62
대전광역시,1444595,680653,2.12,720520,724075,1.00,49.88,50.12
울산광역시,1104167,489298,2.26,567314,536853,1.06,51.38,48.62
세종특별자치시,385932,160479,2.40,192246,193686,0.99,49.81,50.19
경기도,13626339,5969573,2.28,6855626,6770713,1.01,50.31,49.69
강원특별자치도,1530712,760903,2.01,770130,760582,1.01,50.31,49.69
충청북도,1594326,779770,2.04,810835,783491,1.03,50.86,49.14
충청남도,2127630,1032336,2.06,1089884,1037746,1.05,51.23,48.77
전라북도,1758661,861647,2.04,875353,883308,0.99,49.77,50.23
전라남도,1807295,912090,1.98,910810,896485,1.02,50.40,49.60
경상북도,2559924,1282575,2.00,1292868,1267056,1.02,50.50,49.50
경상남도,3257009,1524861,2.14,1639932,1617077,1.01,50.35,49.65
제주특별자치도,676317,313265,2.16,338514,337803,1.00,50.05,49.95

## 컬럼 삭제

In [23]:
# df_pop.drop(columns=['gender_ratio'], inplace=True)
df_pop.drop('gender_ratio', axis=1, inplace=True)
df_pop

,population,household,pop_household,male,female,male_ratio,female_ratio
district,,,,,,,
서울특별시,9407540,4475726,2.10,4552501,4855039,48.39,51.61
부산광역시,3300836,1565115,2.11,1609650,1691186,48.76,51.24
대구광역시,2377801,1092536,2.18,1168679,1209122,49.15,50.85
인천광역시,2987918,1344029,2.22,1494725,1493193,50.03,49.97
광주광역시,1422999,656061,2.17,702748,720251,49.38,50.62
대전광역시,1444595,680653,2.12,720520,724075,49.88,50.12
울산광역시,1104167,489298,2.26,567314,536853,51.38,48.62
세종특별자치시,385932,160479,2.40,192246,193686,49.81,50.19
경기도,13626339,5969573,2.28,6855626,6770713,50.31,49.69
강원특별자치도,1530712,760903,2.01,770130,760582,50.31,49.69
충청북도,1594326,779770,2.04,810835,783491,50.86,49.14
충청남도,2127630,1032336,2.06,1089884,1037746,51.23,48.77
전라북도,1758661,861647,2.04,875353,883308,49.77,50.23
전라남도,1807295,912090,1.98,910810,896485,50.40,49.60
경상북도,2559924,1282575,2.00,1292868,1267056,50.50,49.50
경상남도,3257009,1524861,2.14,1639932,1617077,50.35,49.65
제주특별자치도,676317,313265,2.16,338514,337803,50.05,49.95

## Row 추가

In [24]:
# Row 추가: DataFrame_object.loc['새 row 이름'] = 데이터 값 (또는 배열)
df_pop.loc['전국'] = [
    df_pop.population.sum(), 
    df_pop.household.sum(), 
    round(df_pop.pop_household.mean(), 2), 
    df_pop.male.sum(), 
    df_pop.female.sum(),
    0.0,
    0.0]
df_pop

,population,household,pop_household,male,female,male_ratio,female_ratio
district,,,,,,,
서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,48.39,51.61
부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,48.76,51.24
대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,49.15,50.85
인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,50.03,49.97
광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,49.38,50.62
대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,49.88,50.12
울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,51.38,48.62
세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,49.81,50.19
경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,50.31,49.69
강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,50.31,49.69
충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,50.86,49.14
충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,51.23,48.77
전라북도,1758661.0,861647.0,2.04,875353.0,883308.0,49.77,50.23
전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,50.40,49.60
경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,50.50,49.50
경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,50.35,49.65
제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,50.05,49.95
전국,51370001.0,23900917.0,2.13,25592335.0,25777666.0,0.00,0.00

## Cell 값 수정

In [25]:

df_pop.loc['전국','male_ratio'] = round(sum(df_pop.male) / sum(df_pop.population), 4) * 100
df_pop.loc['전국','female_ratio'] = round(df_pop.female.mean() / df_pop.population.mean(), 4) * 100
df_pop

,population,household,pop_household,male,female,male_ratio,female_ratio
district,,,,,,,
서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,48.39,51.61
부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,48.76,51.24
대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,49.15,50.85
인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,50.03,49.97
광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,49.38,50.62
대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,49.88,50.12
울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,51.38,48.62
세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,49.81,50.19
경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,50.31,49.69
강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,50.31,49.69
충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,50.86,49.14
충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,51.23,48.77
전라북도,1758661.0,861647.0,2.04,875353.0,883308.0,49.77,50.23
전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,50.40,49.60
경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,50.50,49.50
경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,50.35,49.65
제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,50.05,49.95
전국,51370001.0,23900917.0,2.13,25592335.0,25777666.0,49.82,50.18

In [26]:
df_pop.drop('전국', inplace=True)
df_pop

,population,household,pop_household,male,female,male_ratio,female_ratio
district,,,,,,,
서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,48.39,51.61
부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,48.76,51.24
대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,49.15,50.85
인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,50.03,49.97
광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,49.38,50.62
대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,49.88,50.12
울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,51.38,48.62
세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,49.81,50.19
경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,50.31,49.69
강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,50.31,49.69
충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,50.86,49.14
충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,51.23,48.77
전라북도,1758661.0,861647.0,2.04,875353.0,883308.0,49.77,50.23
전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,50.40,49.60
경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,50.50,49.50
경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,50.35,49.65
제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,50.05,49.95

## 전치

In [27]:
df_pop_trans = df_pop.transpose()
df_pop_trans

district,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
population,9407540.00,3300836.00,2377801.00,2987918.00,1422999.00,1444595.00,1104167.00,385932.00,13626339.00,1530712.00,1594326.00,2127630.00,1758661.00,1807295.00,2559924.0,3257009.00,676317.00
household,4475726.00,1565115.00,1092536.00,1344029.00,656061.00,680653.00,489298.00,160479.00,5969573.00,760903.00,779770.00,1032336.00,861647.00,912090.00,1282575.0,1524861.00,313265.00
pop_household,2.10,2.11,2.18,2.22,2.17,2.12,2.26,2.40,2.28,2.01,2.04,2.06,2.04,1.98,2.0,2.14,2.16
male,4552501.00,1609650.00,1168679.00,1494725.00,702748.00,720520.00,567314.00,192246.00,6855626.00,770130.00,810835.00,1089884.00,875353.00,910810.00,1292868.0,1639932.00,338514.00
female,4855039.00,1691186.00,1209122.00,1493193.00,720251.00,724075.00,536853.00,193686.00,6770713.00,760582.00,783491.00,1037746.00,883308.00,896485.00,1267056.0,1617077.00,337803.00
male_ratio,48.39,48.76,49.15,50.03,49.38,49.88,51.38,49.81,50.31,50.31,50.86,51.23,49.77,50.40,50.5,50.35,50.05
female_ratio,51.61,51.24,50.85,49.97,50.62,50.12,48.62,50.19,49.69,49.69,49.14,48.77,50.23,49.60,49.5,49.65,49.95

## 정렬

In [28]:
# 인덱스 초기화
df_pop.reset_index(inplace=True)

### index를 기준으로 DataFrame 정렬

In [29]:
df_pop.sort_index(ascending=False, inplace=True)
df_pop

,district,population,household,pop_household,male,female,male_ratio,female_ratio
16,제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,50.05,49.95
15,경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,50.35,49.65
14,경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,50.50,49.50
13,전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,50.40,49.60
12,전라북도,1758661.0,861647.0,2.04,875353.0,883308.0,49.77,50.23
11,충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,51.23,48.77
10,충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,50.86,49.14
9,강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,50.31,49.69
8,경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,50.31,49.69
7,세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,49.81,50.19
6,울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,51.38,48.62
5,대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,49.88,50.12
4,광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,49.38,50.62
3,인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,50.03,49.97
2,대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,49.15,50.85
1,부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,48.76,51.24
0,서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,48.39,51.61

### 값을 기준으로 DataFrame 정렬

In [30]:
df_pop.sort_values(by='population', ascending=False, inplace=True)
df_pop

,district,population,household,pop_household,male,female,male_ratio,female_ratio
8,경기도,13626339.0,5969573.0,2.28,6855626.0,6770713.0,50.31,49.69
0,서울특별시,9407540.0,4475726.0,2.10,4552501.0,4855039.0,48.39,51.61
1,부산광역시,3300836.0,1565115.0,2.11,1609650.0,1691186.0,48.76,51.24
15,경상남도,3257009.0,1524861.0,2.14,1639932.0,1617077.0,50.35,49.65
3,인천광역시,2987918.0,1344029.0,2.22,1494725.0,1493193.0,50.03,49.97
14,경상북도,2559924.0,1282575.0,2.00,1292868.0,1267056.0,50.50,49.50
2,대구광역시,2377801.0,1092536.0,2.18,1168679.0,1209122.0,49.15,50.85
11,충청남도,2127630.0,1032336.0,2.06,1089884.0,1037746.0,51.23,48.77
13,전라남도,1807295.0,912090.0,1.98,910810.0,896485.0,50.40,49.60
12,전라북도,1758661.0,861647.0,2.04,875353.0,883308.0,49.77,50.23
10,충청북도,1594326.0,779770.0,2.04,810835.0,783491.0,50.86,49.14
9,강원특별자치도,1530712.0,760903.0,2.01,770130.0,760582.0,50.31,49.69
5,대전광역시,1444595.0,680653.0,2.12,720520.0,724075.0,49.88,50.12
4,광주광역시,1422999.0,656061.0,2.17,702748.0,720251.0,49.38,50.62
6,울산광역시,1104167.0,489298.0,2.26,567314.0,536853.0,51.38,48.62
16,제주특별자치도,676317.0,313265.0,2.16,338514.0,337803.0,50.05,49.95
7,세종특별자치시,385932.0,160479.0,2.40,192246.0,193686.0,49.81,50.19

## Series 산술 연산

In [31]:
# Series + 숫자
student1 = pd.Series({'국어': 100, '영어': 80, '수학': 90})
percentage = student1 /200
percentage

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [32]:
# Series + Series
student2 = pd.Series({'수학': 100, '국어': 80, '영어': 90})
total = student1 + student2
total

국어    180
수학    190
영어    170
dtype: int64

## DataFrame 산술 연산

In [33]:
df2 = df[['english', 'math','science']] + 10
df2

        english  math  science
Celine      100   110      110
James        90    50       40
Jason        90    50       70
Hans         70    60      100