# Series 예제 코드

In [1]:
import pandas as pd

## 생성

### list에서 생성

In [2]:
# list에서 생성, 0에서 시작하는 정수로 인덱스가 생성됨
series_from_list = pd.Series(['2023-12-30', 3.14, 'Celine', True])
series_from_list

0    2023-12-30
1          3.14
2        Celine
3          True
dtype: object

In [3]:
# index 확인
series_from_list.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
# index 지정
idx = ['birthday','score','name','isStudent']
series_from_list.index = idx

In [5]:
# index 확인
series_from_list.index

Index(['birthday', 'score', 'name', 'isStudent'], dtype='object')

In [6]:
# index를 지정하여 생성

series_from_list_with_index = pd.Series(['2023-12-30', 3.14, 'Celine', True], index=idx)
series_from_list_with_index

birthday     2023-12-30
score              3.14
name             Celine
isStudent          True
dtype: object

In [7]:
series_from_list.index

Index(['birthday', 'score', 'name', 'isStudent'], dtype='object')

### tuple에서 생성

In [7]:
# tuple에서 생성
series_from_tuple = pd.Series(('Celine', '1976-10-28', 'femail', True))
series_from_tuple

0        Celine
1    1976-10-28
2        femail
3          True
dtype: object

In [8]:
# index 지정
idx2 = ['name', 'birthday','gender','isStudent']
series_from_tuple.index = idx2

In [9]:
# index를 지정하여 생성
series_from_tuple_with_index = pd.Series(('Celine', '1976-10-28', 'femail', True), index=idx2)
series_from_tuple_with_index

name             Celine
birthday     1976-10-28
gender           femail
isStudent          True
dtype: object

### dictionary에서 생성

In [18]:
dict = {'name': 'Celine', 'birthday': '1976-10-28', 'gender': 'female', 'isStudent': True}
series_from_dictionary = pd.Series(dict)
series_from_dictionary

name             Celine
birthday     1976-10-28
gender           female
isStudent          True
dtype: object

In [ ]:
# index 확인
series_from_dictionary.index

## Series 데이터 액세스

### 값 읽기

In [10]:
# Series의 모든 값 읽기. numpy 배열 타입
series_from_tuple.values

array(['Celine', '1976-10-28', 'femail', True], dtype=object)

In [ ]:
type(series_from_list.values)

In [ ]:
# index를 사용하여 Series 데이터 읽기
series_from_list['name']

In [ ]:
# 정수형 index를 사용하여 Series 데이터 읽기
series_from_list[0]

In [ ]:
# 슬라이싱으로 데이터 읽기
series_from_list[0:4]

In [ ]:
# list 형식 사용
series_from_list[[0, 1]]

In [ ]:
series_from_list[['birthday','name']]