# Movielens 데이터로 실습

## Genre 데이터프레임 생성

In [2]:
import pandas as pd
import numpy as np

## movies csv 파일 로드

In [3]:
columns = ['movie_id','title','genre']
df_movies = pd.read_csv('./data/movies.dat', encoding='latin1', delimiter='::',names=columns)

C:\Users\gikpreet\AppData\Local\Temp\ipykernel_23908\2995147857.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_movies = pd.read_csv('./data/movies.dat', encoding='latin1', delimiter='::',names=columns)

In [4]:
df_movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

### 데이터 읽기

In [10]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genre     3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [11]:
df_movies.describe()

          movie_id
count  3883.000000
mean   1986.049446
std    1146.778349
min       1.000000
25%     982.500000
50%    2010.000000
75%    2980.500000
max    3952.000000

In [ ]:
is_toystory = df_movies['title'] == 'Toy Story (1995)'
df_movies[is_toystory]

   movie_id             title                        genre
0         1  Toy Story (1995)  Animation|Children's|Comedy

In [18]:
is_includeed = df_movies['title'].str.contains('Shaw')
df_movies[is_includeed]

     movie_id                             title  genre
315       318  Shawshank Redemption, The (1994)  Drama

## 제목과 개봉연도 분리

In [ ]:
df_movies['year'] = [x.split('(')[1].rstrip(')') for x in df_movies['title']]
df_movies['title'] = [x.split('(')[0] for x in df_movies['title']]
df_movies

## genre 데이터프레임 생성

In [51]:
df_genre = pd.DataFrame()
df_genre['movie_id'] = None
df_genre['genre'] = None
df_genre

Empty DataFrame
Columns: [movie_id, genre]
Index: []

In [ ]:
i = 0
for row in df_movies.itertuples():
    genre = row.genre.split('|')
    for x in genre:
        df_genre.loc[i] = [row.movie_id, x]
        i += 1
df_genre

      movie_id       genre
0            1   Animation
1            1  Children's
2            1      Comedy
3            2   Adventure
4            2  Children's
...        ...         ...
6403      3949       Drama
6404      3950       Drama
6405      3951       Drama
6406      3952       Drama
6407      3952    Thriller

[6408 rows x 2 columns]