# Pandas 데이터 조회

In [1]:
# module import
import numpy as np
import pandas as pd

## 연습 데이터 준비

In [2]:
dates = pd.date_range('20240101', periods=6)

In [6]:
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2024-01-01 -0.844984 -1.292691  0.402541  0.192561
2024-01-02 -0.228228 -0.990921 -0.367579 -1.299830
2024-01-03  0.522893 -0.520231 -0.757016 -1.228409
2024-01-04 -0.251641 -1.358283 -1.212457 -0.538976
2024-01-05 -0.920119  1.823666  0.024440  0.801684
2024-01-06 -0.018671 -1.531857  1.064280 -2.150864

In [14]:
df2 = pd.DataFrame(
    {'A': 1.0,
    'B':pd.Timestamp('20240102'),
    'C':pd.Series(1, index=list(range(4)), dtype='float32'),
    'D':np.array([3] * 4, dtype='int32'),
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'
    })

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2024-01-02  1.0  3   test  foo
1  1.0 2024-01-02  1.0  3  train  foo
2  1.0 2024-01-02  1.0  3   test  foo
3  1.0 2024-01-02  1.0  3  train  foo

## 데이터 조회

### 상단행과 하단 조회
* df.head 메소드를 통해 데이터 프레임이 최상단부터 출력되고 입력 값이 없는 경우 디폴트 값인 5개가 출력된다.
숫자 값을 입력하게 되면, 입력한 값 만큼 최상단부터 출력된다.
* df.tail 메소드를 통해 데이터 프레임이 최하단부터 출력되고 입력 값이 없는 경우 디폴트 값인 5개가 출력된다. 
* 숫자 값을 입력하게 되면, 입력한 값 만큼 최하단부터 출력된다.

In [16]:
df.head()

                   A         B         C         D
2024-01-01 -0.844984 -1.292691  0.402541  0.192561
2024-01-02 -0.228228 -0.990921 -0.367579 -1.299830
2024-01-03  0.522893 -0.520231 -0.757016 -1.228409
2024-01-04 -0.251641 -1.358283 -1.212457 -0.538976
2024-01-05 -0.920119  1.823666  0.024440  0.801684

In [18]:
df.tail(2)

                   A         B        C         D
2024-01-05 -0.920119  1.823666  0.02444  0.801684
2024-01-06 -0.018671 -1.531857  1.06428 -2.150864

### 인덱스 조회
* df.index 메소드를 통해 df에 존제하는 index 값을 출력한다.
* df.index 메소드를 통해 df에 존제하는 column 값을 출력한다.

In [19]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

https://1000yun.tistory.com/12