# 관계 데이터베이스에서 Load

In [2]:
import pymysql
import pandas as pd

## Load

In [ ]:
sql_query = '''SELECT SectorName, WinOrNot, Movie.MovieID, Poster, KoreanTitle, Movie.Title, Person.PersonID, Picture, KoreanName, Person.Name, Remark 
FROM Appear NATURAL JOIN AwardInvolve NATURAL JOIN Movie NATURAL JOIN Person NATURAL JOIN AwardYear NATURAL JOIN Sector NATURAL JOIN Winning
WHERE AwardYear.Year = 2022 
ORDER BY Sector.Priority, Sector.SectorID, Winning.WinningID DESC, Movie.MovieID;'''

conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='kogpsd',
    db='DatamotionMovieDatabase'
)

try:
    cursor = conn.cursor()
    cursor.execute(sql_query)

    result = cursor.fetchall()
except Exception as e:
    print(e)
finally:
    conn.close()

df = pd.DataFrame(result)
df

In [ ]:
column_names = ['SectorName', 'WinOrNot', 'MovieID', 'Poster', 'KoreanTitle', 'Title', 'PersonID', 'Picture', 'KoreanName', 'Name', 'Remark']
df.columns = column_names
df

In [ ]:
winners = df.WinOrNot = 'Winner'
winners

## DataFrame의 read_sql 사용

In [ ]:
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='kogpsd',
    db='DatamotionMovieDatabase'
)

try:
    df_movie = pd.read_sql('SELECT * FROM Movie', conn)
except Exception as e:
    print(e)
finally:
    conn.close()

df_movie

# Save

In [6]:
from sqlalchemy import create_engine

In [ ]:
# DataFrame 생성
df_from_list = pd.DataFrame([ 
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]],
    columns = ['name','nation','korean','english','math']
)
df_from_list

In [9]:
db_connection_str = 'mysql+pymysql://root:kogpsd@localhost/FromPandas'
engine = create_engine(db_connection_str)
conn = engine.connect()

try:
    df_from_list.to_sql(name='student', con=engine, if_exists='replace')
except Exception as e:
    print(e)
finally:
    conn.close()