In [2]:
import pandas as pd

In [3]:
# DataFrame 생성
df = pd.DataFrame([ 
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]],
    columns = ['name','nation','korean','english','math']
)
df

     name   nation  korean  english  math
0  Celine   France      90      100   100
1   James       UK      80       40    30
2   Jason      USA      80       40    60
3    Hans  Germany      60       50    90

In [4]:
df.to_markdown('./data/markdown.md')