# Load Data 예제: Movie Lens

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Duplicate key in file WindowsPath('c:/Users/gik_k/anaconda3/Lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 263 ('font.family:  Malgun Gothic')
Duplicate key in file WindowsPath('c:/Users/gik_k/anaconda3/Lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 414 ('axes.unicode_minus: False')

## Data Load

In [3]:
df_movies = pd.read_csv('./data/movielens_data/최근 데이터/movies.csv',encoding='latin1')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_ratings = pd.read_csv('./data/movielens_data/최근 데이터/ratings.csv')
df_ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [5]:
df_movie_rating = df_movies[['movieId','title']].merge(df_ratings,left_on='movieId',right_on='movieId')
df_movie_rating.head()

   movieId             title  userId  rating   timestamp
0        1  Toy Story (1995)      10     2.5  1169265231
1        1  Toy Story (1995)      11     3.0   850085076
2        1  Toy Story (1995)      17     4.0  1027305751
3        1  Toy Story (1995)      19     3.0   974704488
4        1  Toy Story (1995)      20     5.0  1553184230

In [6]:
toystory = df_movie_rating['movieId'] == 1
df_toystory = df_movie_rating[toystory]
df_toystory.rating.sum()

268911.5

In [7]:
df_movie_rating_total = df_movie_rating.groupby('title')
df_rat = pd.DataFrame(df_movie_rating_total['rating'].sum())
df_rat.sort_values('rating',ascending=False)[0:10]

                                                      rating
title
Shawshank Redemption, The (1994)                    453362.5
Pulp Fiction (1994)                                 413019.5
Forrest Gump (1994)                                 406474.0
Matrix, The (1999)                                  389907.0
Silence of the Lambs, The (1991)                    374722.0
Star Wars: Episode IV - A New Hope (1977)           348526.0
Fight Club (1999)                                   327020.0
Schindler's List (1993)                             312897.5
Lord of the Rings: The Fellowship of the Ring, ...  299225.0
Star Wars: Episode V - The Empire Strikes Back ...  298009.0

In [16]:
# 상위 10개 영화 평균 평점
df_rat2 = df_rat.sort_values('rating',ascending=False)[0:10]
df_rat2['rating'].mean()

362316.25

In [15]:
# 하위 10개 영화 평균 평점
df_rat.sort_values('rating',ascending=False)[-5000:].mean()

rating    1.2997
dtype: float64