# 외부 데이터

## CSV

In [3]:
import pandas as pd

In [5]:
df_pop202309 = pd.read_csv('population202309.csv')
# 구분자 사용
#df_pop202309 = pd.read_csv('population202309.csv', sep='|')
df_pop202309.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    18 non-null     object
 1   총인구수    18 non-null     object
 2   세대수     18 non-null     object
 3   세대당인구   18 non-null     float64
 4   남자인구수   18 non-null     object
 5   여자인구수   18 non-null     object
dtypes: float64(1), object(5)
memory usage: 996.0+ bytes

## Excel

In [7]:
df_titanic = pd.read_excel('titanic.xls')
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

## JSON

In [8]:
df_json = pd.read_json('json_sample.json')
df_json

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

## HTML Page의 Table

In [4]:
boxoffices = pd.read_html('https://movie.datamotion.co.kr/Boxoffice')
df_boxoffice = boxoffices[1]
df_boxoffice

,0,1,2,3,4,5
0,순위,영화,세계 흥행 수익,북미 흥행 수익,북미 %,제작비
1,1,아바타 (2009),"$2,847,246,203","$760,507,625",26.71%,"$237,000,000"
2,2,어벤저스: 엔드게임 (2019),"$2,797,501,328","$858,373,000",30.68%,"$356,000,000"
3,3,타이타닉 (1997),"$2,201,647,264","$659,363,944",29.95%,"$200,000,000"
4,4,스타 워즈: 깨어난 포스 (2015),"$2,068,223,624","$936,662,225",45.29%,"$245,000,000"
...,...,...,...,...,...,...
196,196,월드워 Z (2013),"$540,007,876","$202,359,711",37.47%,"$190,000,000"
197,197,메리다와 마법의 숲 (2012),"$538,983,207","$237,283,207",44.02%,"$185,000,000"
198,198,"심슨가족, 더 무비 (2007)","$536,414,270","$183,135,014",34.14%,"$75,000,000"
199,199,레버넌트: 죽음에서 돌아온 자 (2015),"$532,950,503","$183,637,894",34.46%,"$135,000,000"
200,200,메가로돈 (2018),"$530,243,742","$145,443,742",27.43%,"$130,000,000"

## 데이터 저장
### CSV로 저장

In [5]:
df_boxoffice.to_csv('boxoffice.csv')

### JSON 저장

In [11]:
df_boxoffice.to_json('boxoffice.json', orient='records', indent=4, force_ascii=False)

### Excel 저장

In [13]:
df_boxoffice.to_excel('boxoffice.xlsx')

### HTML 저장

In [14]:
df_boxoffice.to_html('boxoffice.html')

### Markdown 저장

In [15]:
df_boxoffice.to_markdown('boxoffice.md')